<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StrawVerse | Server Error</title>
    <link rel="stylesheet" href="/css/error.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include("components/navbar", { MalLoggedIn: MalLoggedIn }) %>

    <!-- main content -->
    <div class="content">
      <h1>Oops! Something went wrong.</h1>
      <p><%= typeof error !== 'undefined' ? JSON.stringify(error) : "Internal Error" %></p>
      
      <% if (typeof id !== 'undefined' && typeof type !== 'undefined' && id) { %>
        <br>
        <button class="btn btn-outline-danger" onclick="removeLocalData('<%= id %>', '<%= type %>')">Remove Local Data From Database</button>
      <% } %>
    </div>

    <script src="/libs/sweetalert2@11.js"></script>
    <script>
      function removeLocalData(id, type) {
        Swal.fire({
          title: "Are you sure?",
          text: "This will completely delete this entry and all downloaded episodes/chapters from your disk!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, delete it!"
        }).then((result) => {
          if (result.isConfirmed) {
            fetch("/api/local/remove", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ id: id, type: type })
            })
            .then(res => res.json())
            .then(data => {
              if (data.error) {
                Swal.fire("Error!", data.message, "error");
              } else {
                Swal.fire("Deleted!", "The local data has been removed.", "success").then(() => {
                  window.location.href = "/";
                });
              }
            })
            .catch(err => {
              Swal.fire("Error!", "Failed to delete local data.", "error");
            });
          }
        });
      }
    </script>
  </body>
</html>
